In [1]:
import pandas as pd
import numpy as np
import os
os.chdir("C:\\Users\\Izzy\\Documents\\GitHub\\Teclab\\datos\\api2\\ARCHIVOS\\")

In [4]:
# Importamos los archivos csv con los datos q vamos a utilizar
# Poblacion Anual
poblacion_anual = pd.read_csv("poblacion.csv", encoding="latin-1")

# Densidad Poblacional
densidad_poblacional = pd.read_csv("poblacion_con_densidad.csv", encoding="latin-1")

# Hogares viviendas x superficie
hongares_superficie = pd.read_csv("hogares_viviendas_superficie.csv", encoding="latin-1")

In [17]:
# Exploracion de Head
poblacion_anual.head()

,provincia_id,provincia,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
0,2,Capital Federal,1150134,1423973,1082998,200
1,6,Buenos Aires,4789484,5377786,4425193,307571
2,10,Catamarca,96001,113634,89376,102602
3,14,C贸rdoba,1031843,1232211,978553,165321
4,18,Corrientes,267797,292644,248844,88199

In [10]:
# Exploracion del Tail
poblacion_anual.tail()

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres
770,Tierra del Fuego,2036,241593,122567,119026
771,Tierra del Fuego,2037,245734,124625,121109
772,Tierra del Fuego,2038,249853,126670,123183
773,Tierra del Fuego,2039,253948,128702,125246
774,Tierra del Fuego,2040,258020,130721,127299

In [11]:
# Filas y Columnas
print("Las filas y columnas son: ")
poblacion_anual.shape

Las filas y columnas son:

(775, 5)

In [12]:
# Tipos de datos
poblacion_anual.dtypes

provincia            object
anio                  int64
poblacion_total       int64
poblacion_varones     int64
poblacion_mujeres     int64
dtype: object

In [14]:
# Exploracion de Head
densidad_poblacional.head()

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2,densidad_poblacional
0,Capital Federal,2010,3028481,1405566,1622915,2,1150134,1423973,1082998,200,15142.405
1,Capital Federal,2011,3033639,1409835,1623804,2,1150134,1423973,1082998,200,15168.195
2,Capital Federal,2012,3038860,1414105,1624755,2,1150134,1423973,1082998,200,15194.300
3,Capital Federal,2013,3044076,1418339,1625737,2,1150134,1423973,1082998,200,15220.380
4,Capital Federal,2014,3049229,1422507,1626722,2,1150134,1423973,1082998,200,15246.145

In [18]:
# Exploracion de Head
hongares_superficie.head()

,provincia_id,provincia,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
0,2,Capital Federal,1150134,1423973,1082998,200
1,6,Buenos Aires,4789484,5377786,4425193,307571
2,10,Catamarca,96001,113634,89376,102602
3,14,C贸rdoba,1031843,1232211,978553,165321
4,18,Corrientes,267797,292644,248844,88199