In [3]:
# Importo las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os

# Remarco el directorio donde voy a trabajar
os.chdir("D:/Teclab/datos/api4/ARCHIVOS/")

In [6]:
# Importo los .csv que voy a trabajar
df_hogares = pd.read_csv("hogares_viviendas_superficie.csv", sep=",", encoding="latin-1")
df_poblacion = pd.read_csv("poblacion.csv", sep=",", encoding="latin-1")

In [8]:
# Reviso los Dataframe
df_hogares.head()

,provincia_id,provincia,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
0,2,Capital Federal,1150134,1423973,1082998,200
1,6,Buenos Aires,4789484,5377786,4425193,307571
2,10,Catamarca,96001,113634,89376,102602
3,14,Córdoba,1031843,1232211,978553,165321
4,18,Corrientes,267797,292644,248844,88199

In [9]:
df_poblacion.head()

    provincia  anio  poblacion_total  poblacion_varones  poblacion_mujeres
0  Total País  2010         40788453           19940704           20847749
1  Total País  2011         41261490           20180791           21080699
2  Total País  2012         41733271           20420391           21312880
3  Total País  2013         42202935           20659037           21543898
4  Total País  2014         42669500           20896203           21773297